<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>India Map</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
    <link rel="stylesheet" href="/output.css">
    <link rel="stylesheet" href="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/india.css">
    <script defer src="/india.js"></script>
    
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head> -->
<%- include("header.ejs") %>
<body>
    <nav class=" w-full  text-[#4B3832] "style="background-color: #FF9933; font-family: 'Poppins', sans-serif;color: #FFD700";>
      
        <div class="logo text-white text-6xl w-full justify-center">
            <a class="place-content-center grid justify-center w-full font-bold tracking-wider" href="#">Cultural India</a>
        </div>
        
</nav>
<div class="bg-red-500    " >
    <ul class="nav-links justify-evenly text-2xl font-bold md:flex grid grid-cols-1 text-center text-[#4B3832]">
        <li><a class="" href="/">Home</a></li>
        <li><a href="/tradition">Traditions</a></li>
        <li><a href="#festivals">Festivals</a></li>
        <li><a href="/art-craft">Art & Craft</a></li>
        <li><a href="#music-dance">Music & Dance</a></li>   
        <li><a href="#about">About Us</a></li>
    </ul>
</div>
 
<!-- bootstrp  -->
<div id="carouselExampleSlidesOnly" class="carousel slide  " data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img   src="/odisi.jpg" class="d-block h-[70vh]  w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img   src="/taj.jpg" class="d-block h-[70vh]  w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img   src="/kila.jpg" class="d-block  h-[70vh] w-100" alt="...">
      </div>
    </div>
  </div>
  <!-- end  -->
    
  <!-- details  -->
 

<section class="mt-8">
    <div> <h1 class=" grid place-content-center text-orange-500"> WELCOME TO STATENAME</h1></div>
    <div class="flex ml-10"> <h1> Language :</h1> <h1> odia</h1></div>
    <div class="flex ml-10"> <h1> AREA :</h1> <h1> 2400ACR</h1></div>
    <div class="flex ml-10"> <h1> FAMOUS FOOD:</h1> <h1> DAHIBARA</h1></div>

</section>

         
            
     


          
    
    
</body>
</html>